SERVER_SECRET=change-me-in-production
SERVER_MODE=debug
SERVER_ACCESS_TOKEN_EXPIRY=1h
SERVER_REFRESH_TOKEN_EXPIRY=7d

CORS_GLOBAL=true
CORS_IPS=http://127.0.0.1:8080,http://localhost:8080

DATABASE_DRIVER=mysql
DATABASE_DBNAME=base
DATABASE_USERNAME=root
DATABASE_PASSWORD=rootpassword
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_SSLMODE=false
DATABASE_LOGMODE=true

JWT_SIGNING_ALGORITHM=RS256
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
